body {
  margin: 0;
  position: relative;
  height: 100vh;
  background-image: url(./assets/images/wheel.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.logo {
  height: 200px;
  margin: 20px;
}
.wheel {
  position: absolute;
  bottom: 0px;
}